nav, .formFace{
    -moz-box-shadow: 0 0 12px black;
    -webkit-box-shadow: 0 0 12px black;
    box-shadow: 0 0 12px black;
    border-radius: 10px;
}
.formFace {
    padding: 10px 0;
    background-color: #fff;
    left:50px;
}

.formMOVE {
   margin-top: 10%; 
  }