.formFace {
    padding: 10px 0;
    background-color: #fff;
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
  }
  .formMOVE {
   margin-top: 10%;
    
  }