h2{
    color: maroon;
    font-style: italic;
}
.info{
    font-weight: 500;
    color:linen;
    padding: .5em;
    width: 50%;
}
.info p{
    color:maroon;
}
.one{
    
   
    background-color: lightsalmon;
    padding:.25em;
}
.two{
    background-color: lightseagreen;
}
.three{
    background-color: lightslategrey;
}

